workflows/"Яхтинг для всех" payed (ru).json
{
  "active": true,
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Client to TG Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailjet": {
      "main": [
        [
          {
            "node": "Brevo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brevo1": {
      "main": [
        [
          {
            "node": "Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead": {
      "main": [
        [
          {
            "node": "Add payment info to Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Slack to Navi lead Cannel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notification to me",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-18T21:37:27.918Z",
  "id": "F5mgYBOl0CDMGBbk",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "\"Яхтинг для всех\" payed (ru)",
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07H25HAK4N",
          "mode": "list",
          "cachedResultName": "navi-sailing-school"
        },
        "text": "=Новая оплата курса \"Яхтинг для всех\" ({{ $json.body.Lang }}) \nName: {{ $json.body.first_name }}\nEmail: {{ $json.body.email }} \nUTM: {{ $json.body.utm_source }}\n{{ $json.body.utm_campaign }}\n{{ $json.body.utm_medium }}\n{{ $json.body.utm_term }}\n{{ $json.body.utm_content }}",
        "otherOptions": {}
      },
      "id": "ab32df47-ba2a-4560-8485-c9d038bbc107",
      "name": "Slack to Navi lead Cannel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1260,
        320
      ],
      "credentials": {
        "slackApi": {
          "id": "FrLH5fYXH48xDmpN",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "f3929520-eaa3-43b9-8904-58d4894774f2",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1260,
        900
      ],
      "webhookId": "e65d39d4-4350-4cc9-b3f9-605a8fd1d3b4"
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "subject": "Приветствую на марафоне \"Яхтинг для всех\"",
        "fromEmail": "info@navi.training",
        "toEmail": "={{ $json.Email }}",
        "templateId": 6459557,
        "additionalFields": {
          "templateLanguage": true
        },
        "variablesUi": {
          "variablesValues": [
            {
              "name": "firstname",
              "value": "={{ $json.Name }}"
            },
            {
              "name": "name",
              "value": "={{ $json.Name }}"
            }
          ]
        }
      },
      "id": "ee12e40e-e641-4360-881d-2b04f58337a0",
      "name": "Mailjet",
      "type": "n8n-nodes-base.mailjet",
      "typeVersion": 1,
      "position": [
        2040,
        240
      ],
      "credentials": {
        "mailjetEmailApi": {
          "id": "HPoQPpK8H9h1lQ2u",
          "name": "Mailjet Email account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 2,
        "receipients": "={{ $('Webhook').item.json.body.email }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "68247562-0e89-4bec-925d-6b6322e156ba",
      "name": "Brevo",
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        2520,
        300
      ],
      "credentials": {
        "sendInBlueApi": {
          "id": "J9yp1mjVbwjhXWUG",
          "name": "Brevo account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $('Webhook').item.json.body.email }}",
        "createContactAttributes": {
          "attributesValues": [
            {
              "fieldName": "FIRSTNAME",
              "fieldValue": "={{ $('Webhook').item.json.body.first_name }}"
            }
          ]
        },
        "requestOptions": {}
      },
      "id": "e32f6a03-1f1d-4b63-89fe-9183819421e1",
      "name": "Brevo1",
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        2300,
        280
      ],
      "credentials": {
        "sendInBlueApi": {
          "id": "J9yp1mjVbwjhXWUG",
          "name": "Brevo account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "databaseId": 139118,
        "tableId": 380230,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 2873845,
                "value": "={{ $json.body.email }}"
              }
            ]
          }
        }
      },
      "id": "f584ea53-fb21-42a7-be15-f9cbf102410f",
      "name": "Find Lead",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1260,
        520
      ],
      "credentials": {
        "baserowApi": {
          "id": "iKQh0Jcxz7wezRWR",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1f9b0e86-f734-44d3-8320-72d8e679b883",
        "options": {}
      },
      "id": "62f50b64-d042-4730-b3cc-776fde6b668e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        880,
        520
      ],
      "webhookId": "1f9b0e86-f734-44d3-8320-72d8e679b883"
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "subject": "Регистрация на марафон \"Яхтинг для всех\"",
        "fromEmail": "info@navi.training",
        "toEmail": "={{ $json.Email }}",
        "templateId": 6459557,
        "additionalFields": {
          "templateLanguage": true
        },
        "variablesUi": {
          "variablesValues": [
            {
              "name": "firstname",
              "value": "={{ $json.body.first_name }}"
            }
          ]
        }
      },
      "id": "0412093e-0462-4b43-8130-8b272384cb85",
      "name": "Client to TG Chat",
      "type": "n8n-nodes-base.mailjet",
      "typeVersion": 1,
      "position": [
        1480,
        900
      ],
      "credentials": {
        "mailjetEmailApi": {
          "id": "HPoQPpK8H9h1lQ2u",
          "name": "Mailjet Email account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 139118,
        "tableId": 380230,
        "rowId": "={{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 2985835,
              "fieldValue": "true"
            },
            {
              "fieldId": 2985836,
              "fieldValue": "={{ $('Webhook').item.json.body.payment_price }}"
            },
            {
              "fieldId": 2873836,
              "fieldValue": "=IP: {{ $('Webhook').item.json.body.ip_address }}, Transaction ID: {{ $('Webhook').item.json.body.transaction_id }} "
            }
          ]
        }
      },
      "id": "e3160753-b4cd-4fa0-b23a-8576b3995e25",
      "name": "Add payment info to Baserow",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1480,
        520
      ],
      "credentials": {
        "baserowApi": {
          "id": "iKQh0Jcxz7wezRWR",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "alex.mon.navi@gmail.com",
        "subject": "\"Яхтинг для всех\" +1",
        "emailType": "text",
        "message": "=Новая оплата курса \"Яхтинг для всех\" ({{ $json.body.Lang }}) \nName: {{ $json.body.first_name }}\nEmail: {{ $json.body.email }} \nUTM: {{ $json.body.utm_source }}\n{{ $json.body.utm_campaign }}\n{{ $json.body.utm_medium }}\n{{ $json.body.utm_term }}\n{{ $json.body.utm_content }}",
        "options": {}
      },
      "id": "63e95804-78e2-42d4-8c1c-a77da52ff128",
      "name": "Notification to me",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1260,
        700
      ],
      "webhookId": "19f3aafd-2657-4400-a383-e5ecdab1fa30",
      "credentials": {
        "gmailOAuth2": {
          "id": "qkdDun6kFLlujP1i",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.navi.training",
            "user-agent": "GuzzleHttp/7",
            "content-length": "638",
            "content-type": "application/json",
            "x-forwarded-for": "78.47.177.61",
            "x-forwarded-host": "n8n.navi.training",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "first_name": "Алексей",
            "email": "aleksei.gridnev75@gmail.com",
            "payment_price": "14",
            "ip_address": "-",
            "Lang": "RU",
            "payment_currency": "euro",
            "transaction_id": "pi_3QQ5ygDYx6DNu2Yt1CjQrvn2",
            "offer_utm_source": "facebook",
            "offer_utm_campaign": "120214750870130085",
            "offer_utm_medium": "CPC",
            "offer_utm_term": "",
            "offer_utm_content": "120214809903220085",
            "description": "Успешная оплата предложения Яхтинг для всех (ru) -84%"
          },
          "webhookUrl": "https://n8n.navi.training/webhook/1f9b0e86-f734-44d3-8320-72d8e679b883",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-10T11:12:42.068Z",
      "updatedAt": "2024-11-10T11:12:42.068Z",
      "id": "vgr897z7Ao8rJnZh",
      "name": "navi"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-11-28T20:35:23.000Z",
  "versionId": "8103e5f1-e4c7-4a86-970b-76af6f3ff158"
}