workflows/"Яхтинг для всех" lead (ru).json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack to Navi lead Cannel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-10-17T08:54:41.917Z",
  "id": "BdDsBKEdebdAqVBr",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "\"Яхтинг для всех\" lead (ru)",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "databaseId": 139118,
        "tableId": 380230,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 2873835,
              "fieldValue": "={{ $json.body.first_name }}"
            },
            {
              "fieldId": 2873845,
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldId": 2873847,
              "fieldValue": "={{ $json.body.Lang }}"
            },
            {
              "fieldId": 2873846,
              "fieldValue": "={{ $json.body.utm_source }}"
            },
            {
              "fieldId": 2873848,
              "fieldValue": "={{ $json.body.utm_campaign }}"
            },
            {
              "fieldId": 2873854,
              "fieldValue": "={{ $json.body.utm_medium }}"
            },
            {
              "fieldId": 2873855,
              "fieldValue": "={{ $json.body.utm_term }}"
            },
            {
              "fieldId": 2873856,
              "fieldValue": "={{ $json.body.utm_content }}"
            },
            {
              "fieldId": 2873837,
              "fieldValue": "true"
            }
          ]
        }
      },
      "id": "57d2f4b0-5332-463d-9ecb-4bf27f7e61b6",
      "name": "Baserow",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1240,
        520
      ],
      "credentials": {
        "baserowApi": {
          "id": "iKQh0Jcxz7wezRWR",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "463e0e02-f6b9-4141-a46f-7e0b8daefedd",
        "options": {}
      },
      "id": "f8904115-aca2-49e7-9d0b-18b7b73bb0df",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1020,
        520
      ],
      "webhookId": "463e0e02-f6b9-4141-a46f-7e0b8daefedd"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07H25HAK4N",
          "mode": "list",
          "cachedResultName": "navi-sailing-school"
        },
        "text": "=Новая оплата курса \"Яхтинг для всех\" ({{ $json.body.Lang }}) \nName: {{ $json.body.first_name }}\nEmail: {{ $json.body.email }} \nUTM: {{ $json.body.utm_source }}\n{{ $json.body.utm_campaign }}\n{{ $json.body.utm_medium }}\n{{ $json.body.utm_term }}\n{{ $json.body.utm_content }}",
        "otherOptions": {}
      },
      "id": "cca7616a-1da8-4fea-bbb1-581d30345ca0",
      "name": "Slack to Navi lead Cannel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1240,
        320
      ],
      "credentials": {
        "slackApi": {
          "id": "FrLH5fYXH48xDmpN",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.navi.training",
            "user-agent": "GuzzleHttp/7",
            "content-length": "152",
            "content-type": "application/json",
            "x-forwarded-for": "78.47.177.61",
            "x-forwarded-host": "n8n.navi.training",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "first_name": "Oleksii",
            "email": "alex.tsumibito@gmail.com",
            "Lang": "RU",
            "utm_source": "",
            "utm_campaign": "",
            "utm_medium": "",
            "utm_term": "",
            "utm_content": ""
          },
          "webhookUrl": "https://n8n.navi.training/webhook-test/463e0e02-f6b9-4141-a46f-7e0b8daefedd",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-10-31T15:01:06.000Z",
  "versionId": "3f007960-abb2-41b6-808e-ae1933ac19fb"
}