workflows/"Яхтинг для всех" lead (ru).json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack to Navi lead Cannel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Mailjet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-17T08:54:41.917Z",
  "id": "BdDsBKEdebdAqVBr",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "\"Яхтинг для всех\" lead (ru)",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "databaseId": 139118,
        "tableId": 380230,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 2873835,
              "fieldValue": "={{ $json.body.first_name }}"
            },
            {
              "fieldId": 2873845,
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldId": 2873847,
              "fieldValue": "={{ $json.body.Lang }}"
            },
            {
              "fieldId": 2873846,
              "fieldValue": "={{ $json.body.utm_source }}"
            },
            {
              "fieldId": 2873848,
              "fieldValue": "={{ $json.body.utm_campaign }}"
            },
            {
              "fieldId": 2873854,
              "fieldValue": "={{ $json.body.utm_medium }}"
            },
            {
              "fieldId": 2873855,
              "fieldValue": "={{ $json.body.utm_term }}"
            },
            {
              "fieldId": 2873856,
              "fieldValue": "={{ $json.body.utm_content }}"
            },
            {
              "fieldId": 2873837,
              "fieldValue": "true"
            }
          ]
        }
      },
      "id": "57d2f4b0-5332-463d-9ecb-4bf27f7e61b6",
      "name": "Baserow",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1260,
        520
      ],
      "credentials": {
        "baserowApi": {
          "id": "iKQh0Jcxz7wezRWR",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07H25HAK4N",
          "mode": "list",
          "cachedResultName": "navi-sailing-school"
        },
        "text": "=Новая оплата курса \"Яхтинг для всех\" ({{ $json.body.Lang }}) \nName: {{ $json.body.first_name }}\nEmail: {{ $json.body.email }} \nUTM: {{ $json.body.utm_source }}\n{{ $json.body.utm_campaign }}\n{{ $json.body.utm_medium }}\n{{ $json.body.utm_term }}\n{{ $json.body.utm_content }}",
        "otherOptions": {}
      },
      "id": "cca7616a-1da8-4fea-bbb1-581d30345ca0",
      "name": "Slack to Navi lead Cannel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1240,
        320
      ],
      "credentials": {
        "slackApi": {
          "id": "FrLH5fYXH48xDmpN",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "463e0e02-f6b9-4141-a46f-7e0b8daefedd",
        "options": {}
      },
      "id": "f8904115-aca2-49e7-9d0b-18b7b73bb0df",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        880,
        520
      ],
      "webhookId": "463e0e02-f6b9-4141-a46f-7e0b8daefedd"
    },
    {
      "parameters": {
        "sendTo": "alex.mon.navi@gmail.com",
        "subject": "\"Яхтинг для всех\" +1",
        "emailType": "text",
        "message": "=Новая оплата курса \"Яхтинг для всех\" ({{ $json.body.Lang }}) \nName: {{ $json.body.first_name }}\nEmail: {{ $json.body.email }} \nUTM: {{ $json.body.utm_source }}\n{{ $json.body.utm_campaign }}\n{{ $json.body.utm_medium }}\n{{ $json.body.utm_term }}\n{{ $json.body.utm_content }}",
        "options": {}
      },
      "id": "f8004a08-effe-4d77-b008-a40386c1fac5",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1260,
        700
      ],
      "webhookId": "9245b6e6-cbcb-4412-9a9a-e42ccd28c9b3",
      "credentials": {
        "gmailOAuth2": {
          "id": "qkdDun6kFLlujP1i",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "34c33a5c-66e5-4e9a-9f96-fc60fbb17247",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1500,
        520
      ],
      "webhookId": "85480e14-6f84-42a9-bf8d-80b519e29228"
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "subject": "Приветствую на марафоне \"Яхтинг для всех\"",
        "fromEmail": "info@navi.training",
        "toEmail": "={{ $json.Email }}",
        "templateId": 6459557,
        "additionalFields": {
          "templateLanguage": true
        },
        "variablesUi": {
          "variablesValues": [
            {
              "name": "firstname",
              "value": "{{ $json.Name }}"
            }
          ]
        }
      },
      "id": "8901f48f-9ca9-4f81-83a1-8ace9f032421",
      "name": "Mailjet",
      "type": "n8n-nodes-base.mailjet",
      "typeVersion": 1,
      "position": [
        1720,
        520
      ],
      "credentials": {
        "mailjetEmailApi": {
          "id": "HPoQPpK8H9h1lQ2u",
          "name": "Mailjet Email account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.navi.training",
            "user-agent": "GuzzleHttp/7",
            "content-length": "152",
            "content-type": "application/json",
            "x-forwarded-for": "78.47.177.61",
            "x-forwarded-host": "n8n.navi.training",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "first_name": "Oleksii",
            "email": "alex.tsumibito@gmail.com",
            "Lang": "RU",
            "utm_source": "",
            "utm_campaign": "",
            "utm_medium": "",
            "utm_term": "",
            "utm_content": ""
          },
          "webhookUrl": "https://n8n.navi.training/webhook-test/463e0e02-f6b9-4141-a46f-7e0b8daefedd",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-10T11:12:42.068Z",
      "updatedAt": "2024-11-10T11:12:42.068Z",
      "id": "vgr897z7Ao8rJnZh",
      "name": "navi"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-11-11T21:54:51.000Z",
  "versionId": "cdd420f5-57ec-4866-9599-336cfb507a0d"
}