workflows/audio_openai_webhook.json
{
  "active": false,
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-03T16:24:19.085Z",
  "id": "3CVBJyDBW5aD2coF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "audio_openai_webhook",
  "nodes": [
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "id": "06d579a4-b452-49f9-a54e-15acf18dfb6b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        2600,
        700
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "This `Webhook` node triggers the workflow when it receives a POST request.\n\n### 1. Test Mode:\n* Use the test webhook URL\n* Click the `Test workflow` button on the canvas. (In test mode, the webhook only works for one call after you click this button)\n\n### 1. Production Mode:\n* The workflow must be active for a **Production URL** to run successfully.\n* You can activate the workflow using the toggle in the top-right of the editor.\n* Note that unlike test URL calls, production URL calls aren't shown on the canvas (only in the executions list).",
        "height": 493.060000000001,
        "width": 501.55
      },
      "id": "78004732-f941-4255-b8e2-4f8de43e4103",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1560,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Configure the OpenAI node with your API key:\nIf you haven't connected your OpenAI credentials in n8n yet, log in to your OpenAI account to get your API Key. Then, open the OpenAI node, click `Create New Credentials` and connect with the **OpenAI API**.\n",
        "height": 292.71000000000043,
        "width": 388.35000000000025,
        "color": 4
      },
      "id": "d883576a-d232-4cc5-af42-497a6c2d019c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2105,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "audio",
        "model": "tts-1-hd",
        "input": "={{ $json.body.text_to_convert }}",
        "voice": "fable",
        "options": {}
      },
      "id": "6621129c-e919-400d-9935-d4e1dc76fa83",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2240,
        700
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "LWqwOoyrWqYHIcaW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate_audio",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f3beaae7-43f0-47f7-9d25-9ed609728ba5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1760,
        700
      ],
      "webhookId": "28feeb38-ef2d-4a2e-bd7c-25a524068e25",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-03T16:24:19.085Z",
  "versionId": "78cae7f9-200f-40c1-b83f-cd7c99bec657"
}