workflows/CMN_Site_lead.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Convert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-04T16:18:07.965Z",
  "id": "I75Qy2uarWO7UxbZ",
  "meta": null,
  "name": "CMN_Site_lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f1365ea9-0211-4926-94cf-b5595c5f3693",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "2e1acdee-36ca-4c12-8406-53bcb7661e5b",
      "name": "Webhook",
      "webhookId": "f1365ea9-0211-4926-94cf-b5595c5f3693"
    },
    {
      "parameters": {
        "url": "=https://ipapi.co/{{ $json.IP }}/json/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        0
      ],
      "id": "59de657b-20fb-453d-931d-2189ccc9dbad",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "// Function Node: Parse \"data\" Field\n\n// Access the 'data' field from the incoming form submission\nconst dataField = items[0].json.body.data;\n\n// Check if the 'data' field exists\nif (!dataField) {\n  throw new Error('Data field is missing in the form submission.');\n}\n\nlet parsedData;\n\n// Attempt to parse the JSON string in the 'data' field\ntry {\n  parsedData = JSON.parse(dataField);\n} catch (error) {\n  throw new Error('Failed to parse the data field JSON.');\n}\n\n// Merge the parsed data into the main JSON object\nreturn [\n  {\n    json: {\n      ...items[0].json,\n      ...parsedData\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "1184e37a-0c65-4abc-9fd7-09f567ccef0f",
      "name": "Convert Data"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 138802,
        "tableId": 419637,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 3219207,
              "fieldValue": "={{ $('Convert Data').item.json.body.name }}"
            },
            {
              "fieldId": 3219210,
              "fieldValue": "={{ $('Convert Data').item.json.body.email }}"
            },
            {
              "fieldId": 3219211,
              "fieldValue": "={{ $('Convert Data').item.json.body.phone }}"
            },
            {
              "fieldId": 3219208,
              "fieldValue": "={{ $('Convert Data').item.json.body.Message }}"
            },
            {
              "fieldId": 3219212,
              "fieldValue": "={{ $('Convert Data').item.json.body.data }}"
            },
            {
              "fieldId": 3219213,
              "fieldValue": "={{ $('Convert Data').item.json.Date }}"
            },
            {
              "fieldId": 3219214,
              "fieldValue": "={{ $('Convert Data').item.json.Time }}"
            },
            {
              "fieldId": 3219217,
              "fieldValue": "={{ $('Convert Data').item.json.IP }}"
            },
            {
              "fieldId": 3219218,
              "fieldValue": "={{ $('Convert Data').item.json.Lang }}"
            },
            {
              "fieldId": 3219219,
              "fieldValue": "={{ $('Convert Data').item.json.URL }}"
            },
            {
              "fieldId": 3219238,
              "fieldValue": "={{ $json.country_name }}"
            },
            {
              "fieldId": 3219356,
              "fieldValue": "={{ $json.country_code }}"
            },
            {
              "fieldId": 3219239,
              "fieldValue": "={{ $json.region }}"
            },
            {
              "fieldId": 3219240,
              "fieldValue": "={{ $json.city }}"
            },
            {
              "fieldId": 3219354,
              "fieldValue": "={{ $json.in_eu }}"
            },
            {
              "fieldId": 3219355,
              "fieldValue": "={{ $json.timezone }}"
            },
            {
              "fieldId": 3219358,
              "fieldValue": "={{ $json.currency }}"
            },
            {
              "fieldId": 3219357,
              "fieldValue": "={{ $json.postal }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        760,
        0
      ],
      "id": "3c4da370-e3da-4ed1-ab36-b7ecb81925d3",
      "name": "Baserow",
      "credentials": {
        "baserowApi": {
          "id": "iKQh0Jcxz7wezRWR",
          "name": "Baserow account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.navi.training",
            "content-length": "261",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=2; subreqs=1",
            "cf-connecting-ip": "2a06:98c0:3600::103",
            "cf-connecting-o2o": "1",
            "cf-ew-via": "15",
            "cf-ray": "8fce0fff920a6f57-AMS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "wstd.io",
            "content-type": "application/json",
            "x-forwarded-for": "172.71.102.45",
            "x-forwarded-host": "n8n.navi.training",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Olekseiy Burlakov",
            "email": "alex.tsumibito@gmail.com",
            "phone": "0965760777",
            "Message": "test 3",
            "data": "{\"Lang\":\"FR\",\"URL\":\"https://maisonnoblesaintmartin.com/lieuxdereception\",\"Date\":\"2025-01-04\",\"Time\":\"21:43\",\"IP\":\"88.169.43.45\"}"
          },
          "webhookUrl": "https://n8n.navi.training/webhook-test/f1365ea9-0211-4926-94cf-b5595c5f3693",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-04T16:18:16.174Z",
      "updatedAt": "2025-01-04T16:18:16.174Z",
      "id": "4TbqdTKaePBkhhuH",
      "name": "CMN"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-04T21:38:10.000Z",
  "versionId": "48c0ec94-6f22-4dac-b855-b4dc6b13a83c"
}