workflows/Krikun_lead.json
{
  "active": true,
  "connections": {
    "Baserow": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-24T08:57:10.180Z",
  "id": "LdiFohtBFiFPmlkW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Krikun_lead",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "databaseId": 145441,
        "tableId": 377923,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 2853279,
              "fieldValue": "={{ $json.body['First-name'] }}"
            },
            {
              "fieldId": 2853280,
              "fieldValue": "={{ $json.body['Last-name'] }}"
            },
            {
              "fieldId": 2853282,
              "fieldValue": "={{ $json.body.Phone }}"
            },
            {
              "fieldId": 2853283,
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldId": 2853284,
              "fieldValue": "={{ $json.body.mesage }}"
            },
            {
              "fieldId": 2853286,
              "fieldValue": "={{ $json.body.url }}"
            },
            {
              "fieldId": 2853285,
              "fieldValue": "={{ $json.body.utm }}"
            },
            {
              "fieldId": 2853287,
              "fieldValue": "={{ $json.body.ip }}"
            }
          ]
        }
      },
      "id": "8804bedb-b0b9-4d03-b197-6d0aa570dfd2",
      "name": "Baserow",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1240,
        520
      ],
      "credentials": {
        "baserowApi": {
          "id": "iKQh0Jcxz7wezRWR",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07U08CMG8G",
          "mode": "list",
          "cachedResultName": "krikun-leads"
        },
        "text": "=New Lead on krikun.ua\n\nID : {{ $json.id }}\nCreated ON: {{ $json['Created on'] }}\nFirst Name: {{ $json['First Name'] }}\nLast Name: {{ $json['Last Name'] }}\nPhone: {{ $json.Phone }}\nEmail: {{ $json.Email }}\nMessage: {{ $json.Message }}\nUTM: {{ $json.UTM }}\nURL: {{ $json.URL }}\nIP: {{ $json.IP }}\n\n",
        "otherOptions": {}
      },
      "id": "78f30a61-bd06-4e65-8bf9-623ec56c9fad",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1460,
        520
      ],
      "credentials": {
        "slackApi": {
          "id": "FrLH5fYXH48xDmpN",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e7da2a9a-59a1-48e3-808f-45c2f71e802f",
        "options": {}
      },
      "id": "380145db-0435-457f-8c6e-b9aadc5b7fd6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1020,
        520
      ],
      "webhookId": "e7da2a9a-59a1-48e3-808f-45c2f71e802f"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.navi.training",
            "content-length": "146",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=2; subreqs=1",
            "cf-connecting-ip": "2a06:98c0:3600::103",
            "cf-connecting-o2o": "1",
            "cf-ew-via": "15",
            "cf-ray": "8d795fc403c622a3-AMS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "wstd.io",
            "content-type": "application/json",
            "x-forwarded-for": "141.101.76.115",
            "x-forwarded-host": "n8n.navi.training",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "First-name": "Oleksii",
            "Last-name": "Burlakov",
            "Phone": "+380965760777",
            "email": "alex.dreamtv@gmail.com",
            "mesage": "dfdf",
            "url": "",
            "ip": "",
            "utm": ""
          },
          "webhookUrl": "https://n8n.navi.training/webhook-test/e7da2a9a-59a1-48e3-808f-45c2f71e802f",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-10-24T14:54:29.000Z",
  "versionId": "79696441-8050-4a92-abfe-584ede83cfbc"
}