workflows/Navi create post.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-18T18:54:35.598Z",
  "id": "1MSNn6fKUbiPMNiR",
  "meta": null,
  "name": "Navi create post",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        0
      ],
      "id": "b828e096-da41-470a-a8b3-3449291a9678",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -440,
        -200
      ],
      "id": "d604f072-d6e4-4618-a7a0-0eed3ab81114",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apphRx00KIiKq39lw",
          "mode": "list",
          "cachedResultName": "Navi",
          "cachedResultUrl": "https://airtable.com/apphRx00KIiKq39lw"
        },
        "table": {
          "__rl": true,
          "value": "tblC6FbFUH5cHGdDE",
          "mode": "list",
          "cachedResultName": "content plan",
          "cachedResultUrl": "https://airtable.com/apphRx00KIiKq39lw/tblC6FbFUH5cHGdDE"
        },
        "filterByFormula": "{Status} = \"To Do\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -120,
        -100
      ],
      "id": "3b2362c6-3712-4115-be00-eacd24d4fa5e",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "7FWjnAJPooZb3uih",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        100,
        -100
      ],
      "id": "f330fba1-7d96-4cd2-be17-c17bb2725589",
      "name": "Limit"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.promot }}",
        "options": {
          "systemMessage": "Assistant is a large language model.\n\nAssistant is designed to be able to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. As a language model, Assistant is able to generate human-like text based on the input it receives, allowing it to engage in natural-sounding conversations and provide responses that are coherent and relevant to the topic at hand.\n\nAssistant is constantly learning and improving, and its capabilities are constantly evolving. It is able to process and understand large amounts of text, and can use this knowledge to provide accurate and informative responses to a wide range of questions. Additionally, Assistant is able to generate its own text based on the input it receives, allowing it to engage in discussions and provide explanations and descriptions on a wide range of topics.\n\nOverall, Assistant is a powerful system that can help with a wide range of tasks and provide valuable insights and information on a wide range of topics. Whether you need help with a specific question or just want to have a conversation about a particular topic, Assistant is here to assist."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        540,
        -100
      ],
      "id": "4f4ceceb-ff29-4688-8f5f-d6afeefd4355",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "=deepseek/deepseek-r1-distill-llama-70b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        440,
        160
      ],
      "id": "f5d60b3c-8efc-470c-868a-f06329f1e34f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sYujAl1dP381SE4y",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b1513f3-d150-494b-9780-29b079f3f1b9",
              "name": "promot",
              "value": "имеешь ли ты доступ к поиску в интеренете?  какого содержимое страницы https://navi.training/ru/yahting-dlya-vseh",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -100
      ],
      "id": "bee6d2f1-0b11-4cf5-bad9-dc805908245b",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-25T14:34:24.000Z",
  "versionId": "a8a43a88-5300-4ff6-b6d1-60981dc81d02"
}