workflows/Navi BLOG post.json
{
  "active": true,
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Generate slug",
            "type": "main",
            "index": 0
          },
          {
            "node": "DeepL Post Name translate UA",
            "type": "main",
            "index": 0
          },
          {
            "node": "DeepL Translate Post name EN",
            "type": "main",
            "index": 0
          },
          {
            "node": "DeepL Translate Title EN",
            "type": "main",
            "index": 0
          },
          {
            "node": "DeepL translate title UA",
            "type": "main",
            "index": 0
          },
          {
            "node": "DeepL Translate Description EN",
            "type": "main",
            "index": 0
          },
          {
            "node": "DeepL translate Description UA",
            "type": "main",
            "index": 0
          },
          {
            "node": "DeepL translate keywords UA",
            "type": "main",
            "index": 0
          },
          {
            "node": "DeepL Translate keywords EN",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Baserow Upload Thumbnail Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Baserow Upload Main Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate slug": {
      "main": [
        [
          {
            "node": "Baserow create blog row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepL translate keywords UA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DeepL Translate keywords EN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepL translate Description UA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "DeepL Translate Description EN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "DeepL translate title UA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "DeepL Translate Title EN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "DeepL Translate Post name EN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "DeepL Post Name translate UA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Baserow create blog row": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Translate post to UA": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Translate post to EN": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "DeepL Post Summary translate UA": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Translate post to UA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Translate post to EN",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepL Post Summary translate EN": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Baserow add Post translations and summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "DeepL Post Summary translate UA",
            "type": "main",
            "index": 0
          },
          {
            "node": "DeepL Post Summary translate EN",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Baserow add translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow Upload Main Image": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Baserow Upload Thumbnail Image": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Baserow files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-08T09:25:05.152Z",
  "id": "Hoypp0GMRnPzwTXo",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Navi BLOG post",
  "nodes": [
    {
      "parameters": {
        "path": "79d3dee2-ee2b-4070-8428-947ee2cc25de",
        "formTitle": "Navi blog post",
        "formDescription": "Create blog post at navi",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Заголовок RU",
              "requiredField": true
            },
            {
              "fieldLabel": "Текст поста RU html",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Title",
              "requiredField": true
            },
            {
              "fieldLabel": "Description",
              "requiredField": true
            },
            {
              "fieldLabel": "keywords",
              "requiredField": true
            },
            {
              "fieldLabel": "Main Image (1400х655)",
              "fieldType": "file",
              "multipleFiles": false
            },
            {
              "fieldLabel": "Thumbnail image (400x400)",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "eef15e72-97b0-419a-a870-d7332b8f4b40",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        -1020,
        560
      ],
      "webhookId": "79d3dee2-ee2b-4070-8428-947ee2cc25de"
    },
    {
      "parameters": {
        "jsCode": "// Функция транслитерации\nfunction transliterate(text) {\n  const transliterationTable = {\n    'а': 'a', 'б': 'b', 'в': 'v', 'г': 'g', 'д': 'd',\n    'е': 'e', 'ё': 'yo', 'ж': 'zh', 'з': 'z',\n    'и': 'i', 'й': 'y', 'к': 'k', 'л': 'l',\n    'м': 'm', 'н': 'n', 'о': 'o', 'п': 'p',\n    'р': 'r', 'с': 's', 'т': 't', 'у': 'u',\n    'ф': 'f', 'х': 'h', 'ц': 'ts', 'ч': 'ch',\n    'ш': 'sh', 'щ': 'sch', 'ъ': '', 'ы': 'y', 'ь': '',\n    'э': 'e', 'ю': 'yu', 'я': 'ya',\n    'А': 'A', 'Б': 'B', 'В': 'V', 'Г': 'G', 'Д': 'D',\n    'Е': 'E', 'Ё': 'Yo', 'Ж': 'Zh', 'З': 'Z',\n    'И': 'I', 'Й': 'Y', 'К': 'K', 'Л': 'L',\n    'М': 'M', 'Н': 'N', 'О': 'O', 'П': 'P',\n    'Р': 'R', 'С': 'S', 'Т': 'T', 'У': 'U',\n    'Ф': 'F', 'Х': 'H', 'Ц': 'Ts', 'Ч': 'Ch',\n    'Ш': 'Sh', 'Щ': 'Sch', 'Ъ': '', 'Ы': 'Y', 'Ь': '',\n    'Э': 'E', 'Ю': 'Yu', 'Я': 'Ya',\n  };\n\n  return text.split('').map(function (char) {\n    return transliterationTable[char] || char;\n  }).join('');\n}\n\n// Функция создания слага\nfunction slugify(text) {\n  // Транслитерация\n  text = transliterate(text);\n\n  // Приводим к нижнему регистру\n  text = text.toLowerCase();\n\n  // Заменяем все символы, кроме букв и цифр, на дефисы\n  text = text.replace(/[^a-z0-9]+/g, '-');\n\n  // Удаляем начальные и конечные дефисы\n  text = text.replace(/^-+|-+$/g, '');\n\n  return text;\n}\n\n// Перебираем каждый элемент в массиве items\nreturn items.map(item => {\n  // Получаем значение из поля \"Заголовок RU\"\n  const title = item.json['Заголовок RU'];\n\n  // Генерируем слаг\n  const slug = slugify(title);\n\n  // Добавляем поле \"Slug\" в текущий элемент\n  return {\n    json: {\n      ...item.json,\n      'Slug': slug\n    }\n  };\n});\n"
      },
      "id": "efccfd56-c90a-49ec-a19e-1b5888415b79",
      "name": "Generate slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        520
      ]
    },
    {
      "parameters": {
        "text": "={{ $json[\"Заголовок RU\"] }}",
        "translateTo": "UK",
        "additionalFields": {}
      },
      "id": "31044e47-4f63-400e-94ad-6bf23e641183",
      "name": "DeepL Post Name translate UA",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        1300,
        320
      ],
      "credentials": {
        "deepLApi": {
          "id": "Fa3gRfaikTneP7NW",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json[\"Заголовок RU\"] }}",
        "translateTo": "EN-US",
        "additionalFields": {}
      },
      "id": "0711f8da-7c88-4a92-93d3-32a58434c530",
      "name": "DeepL Translate Post name EN",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        1300,
        140
      ],
      "credentials": {
        "deepLApi": {
          "id": "Fa3gRfaikTneP7NW",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.Title }}",
        "translateTo": "EN-US",
        "additionalFields": {}
      },
      "id": "037bb705-fb49-4dbc-8869-84ea3db9e8e4",
      "name": "DeepL Translate Title EN",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        1300,
        -40
      ],
      "credentials": {
        "deepLApi": {
          "id": "Fa3gRfaikTneP7NW",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.Title }}",
        "translateTo": "UK",
        "additionalFields": {}
      },
      "id": "496fa835-d9c3-428f-9b37-a752aa1d20a0",
      "name": "DeepL translate title UA",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        1300,
        -220
      ],
      "credentials": {
        "deepLApi": {
          "id": "Fa3gRfaikTneP7NW",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.Description }}",
        "translateTo": "EN-US",
        "additionalFields": {}
      },
      "id": "9c24a572-0076-4145-8ea5-036c81806440",
      "name": "DeepL Translate Description EN",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        1300,
        -400
      ],
      "credentials": {
        "deepLApi": {
          "id": "Fa3gRfaikTneP7NW",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.Description }}",
        "translateTo": "UK",
        "additionalFields": {}
      },
      "id": "b8ec4db9-bf30-46ac-91d2-be7124e2efeb",
      "name": "DeepL translate Description UA",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        1300,
        -580
      ],
      "credentials": {
        "deepLApi": {
          "id": "Fa3gRfaikTneP7NW",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.keywords }}",
        "translateTo": "UK",
        "additionalFields": {}
      },
      "id": "ace53939-50c3-4a27-8cc6-46716da8123f",
      "name": "DeepL translate keywords UA",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        1300,
        -760
      ],
      "credentials": {
        "deepLApi": {
          "id": "Fa3gRfaikTneP7NW",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.keywords }}",
        "translateTo": "EN-US",
        "additionalFields": {}
      },
      "id": "62f63552-5bbd-4038-9b40-8298380e5f28",
      "name": "DeepL Translate keywords EN",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        1300,
        -940
      ],
      "credentials": {
        "deepLApi": {
          "id": "Fa3gRfaikTneP7NW",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "=A50VsfUdjPaO0gkR"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "1c6eb96e-5881-4ec7-ba0b-accaa0257bda",
      "name": "Translate post to UA",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1420,
        1020
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mxjz49LdU7xLPaBS",
          "mode": "list",
          "cachedResultName": "-- Translate big html from RU to EN"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "b1939705-d072-416d-904c-ec4ba2ab95f2",
      "name": "Translate post to EN",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1420,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 139118,
        "tableId": 356544,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 2660068,
              "fieldValue": "={{ $json.Slug }}"
            },
            {
              "fieldId": 2660067,
              "fieldValue": "={{ $('n8n Form Trigger').item.json['Заголовок RU'] }}"
            },
            {
              "fieldId": 2660083,
              "fieldValue": "={{ $('n8n Form Trigger').item.json.Title }}"
            },
            {
              "fieldId": 2660084,
              "fieldValue": "={{ $('n8n Form Trigger').item.json.Description }}"
            },
            {
              "fieldId": 2896460,
              "fieldValue": "={{ $('n8n Form Trigger').item.json.keywords }}"
            }
          ]
        }
      },
      "id": "e86320d7-f3fb-437d-9bb9-047e9e6a9ba0",
      "name": "Baserow create blog row",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1600,
        520
      ],
      "credentials": {
        "baserowApi": {
          "id": "iKQh0Jcxz7wezRWR",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 139118,
        "tableId": 356544,
        "rowId": "={{ $node[\"Merge\"].json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 2660093,
              "fieldValue": "={{ $node[\"DeepL Post Name translate UA\"].json.text }}"
            },
            {
              "fieldId": 2660094,
              "fieldValue": "={{ $node[\"DeepL Translate Post name EN\"].json.text }}"
            },
            {
              "fieldId": 2664555,
              "fieldValue": "={{ $node[\"DeepL translate Description UA\"].json.text }}"
            },
            {
              "fieldId": 2664606,
              "fieldValue": "={{ $node[\"DeepL Translate Description EN\"].json.text }}"
            },
            {
              "fieldId": 2664718,
              "fieldValue": "={{ $node[\"DeepL translate title UA\"].json.text }}"
            },
            {
              "fieldId": 2664719,
              "fieldValue": "={{ $node[\"DeepL Translate Title EN\"].json.text }}"
            },
            {
              "fieldId": 2660081,
              "fieldValue": "alex-burlakov"
            },
            {
              "fieldId": 2660085,
              "fieldValue": "15 min to read"
            },
            {
              "fieldId": 2660079,
              "fieldValue": "true"
            }
          ]
        }
      },
      "id": "499eff75-ceb4-4b98-848c-2d2a1c7c1b3b",
      "name": "Baserow add translations",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2160,
        -140
      ],
      "credentials": {
        "baserowApi": {
          "id": "iKQh0Jcxz7wezRWR",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "translateTo": "UK",
        "additionalFields": {}
      },
      "id": "ca790bd6-3187-44e6-8038-b551a81b7a0a",
      "name": "DeepL Post Summary translate UA",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        1700,
        1460
      ],
      "credentials": {
        "deepLApi": {
          "id": "Fa3gRfaikTneP7NW",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "translateTo": "EN-US",
        "additionalFields": {}
      },
      "id": "5f62bd84-3185-4509-b8ba-2b373d3b82a8",
      "name": "DeepL Post Summary translate EN",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        1700,
        1700
      ],
      "credentials": {
        "deepLApi": {
          "id": "Fa3gRfaikTneP7NW",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 139118,
        "tableId": 356544,
        "rowId": "={{ $node[\"Merge1\"].json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 2660075,
              "fieldValue": "={{ $node[\"Edit Fields\"].json.data }}"
            },
            {
              "fieldId": 2660175,
              "fieldValue": "={{ $node[\"Translate post to UA\"].json.Data }}"
            },
            {
              "fieldId": 2660174,
              "fieldValue": "={{ $node[\"Translate post to EN\"].json.Data }}"
            },
            {
              "fieldId": 2660076,
              "fieldValue": "={{ $node[\"OpenAI\"].json.message.content }}"
            },
            {
              "fieldId": 2660164,
              "fieldValue": "={{ $node['DeepL Post Summary translate UA'].json.text }}"
            },
            {
              "fieldId": 2660165,
              "fieldValue": "={{ $node['DeepL Post Summary translate EN'].json.text }}"
            }
          ]
        }
      },
      "id": "700dc82f-7860-4a09-a42b-2771adc7a052",
      "name": "Baserow add Post translations and summary",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2200,
        1060
      ],
      "credentials": {
        "baserowApi": {
          "id": "iKQh0Jcxz7wezRWR",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 139118,
        "tableId": 356544,
        "rowId": "={{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 2660077,
              "fieldValue": "={{ $json.main_name }}"
            },
            {
              "fieldId": 2660078,
              "fieldValue": "={{ $json.thumb_name }}"
            }
          ]
        }
      },
      "id": "d8bbf622-23f3-448c-a92d-3d7e32b565fe",
      "name": "Baserow files",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        460,
        -760
      ],
      "credentials": {
        "baserowApi": {
          "id": "iKQh0Jcxz7wezRWR",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PHQQyHKIBZp4JTHv",
          "mode": "list",
          "cachedResultName": "-- Navi upload images for blog post"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "6900ee33-00e3-4587-8b19-2bb58fd2154f",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1060,
        1020
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a25192-b6ef-4062-98b5-eb5017715808",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "0f29f853-8f16-427a-8a0e-e9c1c03e3c68",
              "name": "data",
              "value": "={{ $('n8n Form Trigger').item.json['Текст поста RU html'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "23cac241-b486-43cf-9f61-dcc0dc05bac7",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        1000
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8ffa9dd-c5b2-4a43-a9c0-0abee55fc321",
              "name": "data",
              "value": "={{ $json['Текст поста RU html'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "143f9f3b-262c-4fff-a2d6-5318d3964f63",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        1140
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "887f5b96-7c21-4806-a815-817b2adadfaa",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        880,
        1020
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 6
      },
      "id": "25f72ad9-b285-40ae-b5cc-9bfe4640aa9c",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1940,
        1020
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Сгенерируй привлекательное и интересное резюме для статьи на русском языке, так чтобы ее захотелось прочитать, не менее чем на 400 символов с пробелами, но не более чем на 550 символов с пробелами в текстовом формате без разметки. В качестве ответа верни только готовое резюме поста, без каких либо комментариев и дополнений. \n\nВот текст поста в HTML:\n{{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5fb8310c-c8a2-4ce1-884f-bb1a9cc8ab82",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        1240,
        1460
      ],
      "credentials": {
        "openAiApi": {
          "id": "LWqwOoyrWqYHIcaW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 8,
        "useDataOfInput": 8
      },
      "id": "e48fdc2b-d937-48dd-b605-722c1f6232a3",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1860,
        -220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.baserow.io/api/user-files/upload-file/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token cAkghBkNcvaZnJ0HJBBZAz5X8b7pxdBW"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Main_Image__1400_655_"
            }
          ]
        },
        "options": {}
      },
      "id": "723b8829-3abe-45a1-bdd2-c9e31ad7abd0",
      "name": "Baserow Upload Main Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        -720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.baserow.io/api/user-files/upload-file/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token cAkghBkNcvaZnJ0HJBBZAz5X8b7pxdBW"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Thumbnail_image__400x400_"
            }
          ]
        },
        "options": {}
      },
      "id": "ff401097-f055-470b-8c76-2bfd2d50a03c",
      "name": "Baserow Upload Thumbnail Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        -360
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3
      },
      "id": "9ca9ecc1-5959-4596-b9d9-66e8d000ddea",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        20,
        -560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Получаем id из узла 'Baserow create blog row'\nconst baserowCreateBlogRowItems = $items(\"Baserow create blog row\", 0, 0);\n\nif (!baserowCreateBlogRowItems || baserowCreateBlogRowItems.length === 0) {\n  throw new Error(\"Не удалось найти данные в узле 'Baserow create blog row'\");\n}\n\nconst id = baserowCreateBlogRowItems[0].json.id;\n\n// Получаем имя из узла 'Baserow Upload Main Image'\nconst baserowUploadMainImageItems = $items(\"Baserow Upload Main Image\", 0, 0);\n\nif (!baserowUploadMainImageItems || baserowUploadMainImageItems.length === 0) {\n  throw new Error(\"Не удалось найти данные в узле 'Baserow Upload Main Image'\");\n}\n\nconst main_name = baserowUploadMainImageItems[0].json.name;\n\n// Получаем имя из узла 'Baserow Upload Thumbnail Image'\nconst baserowUploadThumbnailImageItems = $items(\"Baserow Upload Thumbnail Image\", 0, 0);\n\nif (!baserowUploadThumbnailImageItems || baserowUploadThumbnailImageItems.length === 0) {\n  throw new Error(\"Не удалось найти данные в узле 'Baserow Upload Thumbnail Image'\");\n}\n\nconst thumb_name = baserowUploadThumbnailImageItems[0].json.name;\n\n// Возвращаем данные в виде JSON\nreturn [\n  {\n    json: {\n      id: id,\n      main_name: main_name,\n      thumb_name: thumb_name\n    }\n  }\n];\n"
      },
      "id": "105c33e8-788c-4973-9bb1-155a49502091",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -560
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-10T11:12:42.068Z",
      "updatedAt": "2024-11-10T11:12:42.068Z",
      "id": "vgr897z7Ao8rJnZh",
      "name": "navi"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-11-10T11:12:44.000Z",
  "versionId": "6a5ef222-d4f8-49d3-9907-f5f548f8fd19"
}